{% extends 'base.html' %}

{% block content %}

<h3 class='border-bottom border-gray pt-5 pb-2'>ニュース一覧</h3>

<ul class="list-unstyled">
  {% for target, icon, title, date, url in news_list %}
  <li class="media border-bottom border-gray pt-3 pb-1">
    <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">{{ icon }}</text></svg>
    <div class="media-body pl-3">
      <a href="{{ url }}" class="">
        <h6 class="mt-0 mb-0 text-body">{{ title|truncatewords_html:10 }}</h5>
          <span class="mb-0 small text-secondary">{{ target }}</span>
          <span class="mb-0 small text-secondary pl-2 pr-2">{{ date }}</span>
        <span class="mb-0 small text-secondary">{{ url }}</span>
      </a>
        <!-- <p class="mb-0 text-body">{{ article.content|truncatewords_html:100 }}</p>
      <div class="btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm">
          <input type="checkbox" checked autocomplete="off">STOCK
        </label>
      </div>
      -->
      {% if messages %}
        {% for message in messages %}
            <span class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</span>
        {% endfor %}
      {% endif %}

      {% if user.is_authenticated %}
        <form action="stock/" method="post">{% csrf_token %}
          <input type="hidden" name="user" value="{{ user.id }}">
          <input type="hidden" name="title" value="{{ title }}">
          <input type="hidden" name="name" value="{{ target }}">
          <input type="hidden" name="url" value="{{ url }}">
          <input type="submit" value="stock" class="float-right btn btn-secondary btn-sm" data-toggle="buttons">
        </form>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock content %}