{% extends 'base.html' %}

{% block content %}


<h1>ニュース一覧</h1>
<h3>一覧表示</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>日付</th>
            <th>内容</th>
            <th>保存</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
          <td>{{ article.title }}</td>
          <td>{{ article.created_at }}</td>
          <td>{{ article.content }}</td>
          <td>{{ article.check }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for article in articles %}

{% endfor %}


{% endblock content %}