{% extends 'base.html' %}

{% block content %}
<div class='vh-100'>
<h3 class='border-bottom border-gray pt-5 pb-2'>保存したニュース一覧</h3>

<ul class="list-unstyled">
  {% for article in articles %}
  <li class="media border-bottom border-gray pt-3 pb-1">
    {% if article.icon == 'm' %}
    <div>
      <i class="fas fa-chart-bar p-2 h2 rounded text-secondary" style='background-color:lightgoldenrodyellow;'></i>
    </div>
    {% elif article.icon == 'n' %}
    <div>
      <i class="fas fa-newspaper p-2 h2 rounded text-secondary" style='background-color:lightgrey;'></i>
    </div>
    {% elif article.icon == 'p' %}
    <div>
      <i class="fas fa-laptop-code p-2 h2 rounded text-secondary" style='background-color:lightcyan;'></i>
    </div>
  {% endif %}
    <div class="media-body pl-3">
      <a href="{{ article.url }}" class="">
        <h6 class="mt-0 mb-0 text-body">{{ article.title|truncatewords_html:10 }}</h5>
          <span class="mb-0 small text-secondary">{{ article.name }}</span>
          <span class="mb-0 small text-secondary pl-2 pr-2">{{ article.created_at }}</span>
        <span class="mb-0 small text-secondary">{{ article.url }}</span>
      </a>
      <!-- <div class="btn-group-toggle float-right" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm">
          <input type="checkbox" checked autocomplete="off">STOCK
        </label>
      </div>
      -->
      <form action="{% url 'newslistapp:delete_stock' pk=article.pk %}" method="post">{% csrf_token %}
        <button type="submit" class="float-right btn btn-secondary btn-sm" onclick='return confirm("本当に削除しますか？");'>delete</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>

</div>
{% endblock content %}